body {
  margin: 0;
  text-align: center;
  background-image: linear-gradient(to bottom right, #e8dad0, #d5bbaa, #c29d84, #af7f5d, #8d6346);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 20px;
  font-family: 'Julee', cursive;
}

#navbar {
  border: 1px solid #c4a189;
  border-radius: 30px;
  font-size: 1.8rem;
  padding: 15px;
  background-color: bisque;
  color: #36261a;
  text-decoration: none;
  transition: .3s;
}

#navbar:hover {
  font-size: 1.85rem;
  background-color: #ffc178;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

#drinkList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 40px;
}

#drink {
  border: 1px solid black;
  border-radius: 20px;
  height: fit-content;
}

.Espresso {
  background-image: linear-gradient(to left, #a97653, #835b40, #573d2b);
}

.Coffee {
  background-image: linear-gradient(to left, #ab8258, #886846, #664e34);
}

.Energy {
  background-image: linear-gradient(to left, #525347, #636459, #74756b);
}

.Tea {
  background-image: linear-gradient(to left, #d79c2b, #ac7c22, #815d19)
}

.Soda {
  background-image: linear-gradient(to left, #d2c4a8, #a89c86, #7e7564)
}



button {
  font-size: 30px;
  border-radius: 20px;
  color: #835b40;
  background-color: #1b130d;
  transition: .3s;
  border: 1px solid black;
}

button:hover {
  background-color: #b1805f;
  color: white;
  border: 1px solid #a67351;
}

h5 {
  margin-bottom: 20px;
}

#bottom-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.home {
  width: 100%;
  background-image: linear-gradient(to right, #573d2b, #c29d84);
  border-radius: 20px;
  font-size: 40px;
  color: #d2b7a4;
  text-decoration: none;
}

#home,
a {
  color: #36261a;
  font-size: 40px;
  text-decoration: none;
}

.about {
  font-size: 180%;
}

.img-about {
  width: 500px;
  height: 500px;
}

p {
  font-size: 300%;
  text-align: left;
  background-color: #78543b;
  border-radius: 20px;
}

.drink {
  font-size: 150%;
  margin: 10%;
  background-color: #e2d1c5;
  border-radius: 20px;
  transition: .3s;
}

.drink:hover {
  background-color: #c9a992;
}

.caff-info {
  display: flex;
  justify-content: center;
  font-size: 400%;
  width: fit-content;
  text-align: center;
  background-color: lemonchiffon;
  border-radius: 20px;
}

.info-page {
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: baseline;
  align-items: center;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 500px;
}

.info-section {
  background-color: #5c412d;
  border-radius: 20px;
}

main {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  padding: 20px;
  height: 1000px;
}

.addDrink,
#editDrink {
  width: fit-content;
  padding: 20px;
  font-size: 60px;
  margin: 20px;
  background-image: linear-gradient(to bottom, #c29d84, #b28363, #986b4b, #78543b);
  border-radius: 20px;
  justify-content: center;
  align-self: center;
  height: 1000px;
}

.comments {
  display: flex;
  justify-content: center;
  text-align: center;

}

input,
select,
textarea,
label {
  font-size: 20px;
  height: 50px;
  border-radius: 15px;
}

label {
  background-color: #c29d84;
  font-size: 40px;
  padding: 5px;
}