body {
  margin: 0;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  width: 100vw;
  height: 30vh;
}

#navbar {
  border: 1px solid red;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
}